{% extends 'base.html.twig' %}

{% block title %}Indeed
{% endblock %}

{% block body %}
	<h2>Craoutch Gang Ind.</h2>
	<div id="cards" class="container-fluid">
		<div id="card" class="card col m-1">
			<p class="card-body" href="{{offre.id}}">

				<h3 id="title" class="card-title">
					{{offre.titre}}</h3>
			</p>
			<p id="description" class="card-text">
				<span>Description :
				</span>
				{{offre.Description}}</p>

			<p id="ville" class="card-text">
				<span>Ville :
				</span>
				{{offre.ville}}</p>

			<p id="adresse" class="card-text">
				<span>Adresse :
				</span>
				{{offre.adresse}}</p>

			<p id="code_postal" class="card-text">
				<span>Code postal :
				</span>
				{{offre.codepostal}}</p>

			<p id="type" class="card-text">
				<span>Type :
				</span>
				{{offre.contrat.name}}</p>

			<p id="temps" class="card-text">
				<span>Durée :
				</span>
				{{offre.typecontrat.type}}</p>

			<p id="createdat" class="card-text">
				<span>
					Date de création :
				</span>
				{{ offre.createdat|date("d/m/Y")}}</p>

			<p id="updatedat" class="card-text">
				<span>
					Date de mise à jour :
				</span>
				{{offre.updatedat|date("d/m/Y")}}</p>


			{% if offre.MissionEnd %}
				<p id="missionend" class="card-text">
					<span>
						Date de fin :
					</span>
					{{offre.missionend|date("d/m/Y")}}</p>
			{% endif %}

			<div>
				<a href="/new">
					<button type="button" class="btn btn-primary">
						Postuler
					</button>
				</a>
			</div>

		</p>
	</div>
</div>
<div class="contact">
	<p>
		Vous trouverez si join le contact du site
	</p>
	<h3>
		A propos
	</h3>
	<li>craoutchgang@gmail.com
	</li>
	<li>080000000000000000000</li>
</div>{% endblock %}
